<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648489734651-3437n456li284vlkce4859kr7b0b3eua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648489734651-3437n456li284vlkce4859kr7b0b3eua</string>
	<key>API_KEY</key>
	<string>AIzaSyBT8gepRdkOhtiPxtUB7dQ4wPF9hoN-cRY</string>
	<key>GCM_SENDER_ID</key>
	<string>648489734651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoring7419</string>
	<key>PROJECT_ID</key>
	<string>scoring-50753</string>
	<key>STORAGE_BUCKET</key>
	<string>scoring-50753.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648489734651:ios:22d9d2a5a1c6b1a093fb5e</string>
</dict>
</plist>